:root {
  --color-black: #21222d;
  --color-dark: #2c2c37;
  --color-primary: #6360c5;
  --color-gray: #6c7282;
  --color-white: #f0f3f2;
  --color-todo: #49c1e5;
  --color-doing: #8371ef;
  --color-done: #68dfb0;
}