.button {
    background-color: var(--color-primary);
    color: var(--color-white);
    font-weight: 700;
    border-radius: 25px;
    height: 2.5rem;
    padding: 0 20px;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.4s ease;

    &:hover {
        opacity: 0.7;
    }

    &:active {
        scale: 0.95;
    }
}