.select {
  height: 3rem;
  width: 30rem;
  outline: none;
  border: 0.1rem solid var(--color-gray);
  border-radius: 0.3rem;
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 0 0.5rem;
  font-weight: 600;
}
